* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardSlider {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray  ;
}

.cardConteiner {
   max-width: 1200px;
   width: 100%;
   background-color: lightgray;
   padding: 40px 0;
  
   align-items: center;
}

.cardContent {
    margin: 0 40px;
}

.cardImage {
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
}

.imageContent {
    position: relative;
    row-gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 14px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: blue;
    border-radius: 25px 25px 0 25px 25px;
}

.overlay::before, .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: blue;
}

.overlay::after {
border-radius: 0 25px 0 0;
background-color: #fff;
}

.imageCard {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: lightgrey;
    padding: 3px;
}

.imageCard .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid blueviolet;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.descripiton {
    font-size: 14px;
    color: gray;
    text-align: center;
}

.btn {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: blue;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
}

.btn:hover {
    background-color: blueviolet;
}

.mySwiper {
    display: flex;
    align-items: center;
    justify-content: center;
}


