.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 95vh;
    padding: 0 35px;
    background-color: #094B59;
}

.wrapper {
    max-width: 600px;
    width: 80%;
    position: relative;
}

.wrapper .icon {
    /*height: 80px;
    width: 80px;  tive que tirar a fudno
    background-color: #fff; */
    text-align: center;
    line-height: 50px;
    
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 5rem;
    transform: translateY(-50%);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7)); /* Sombra suave */
    z-index: 1; /* Coloca as setas acima dos cards */
}

.wrapper .icon:first-child {
    left: -80px;
    color: #CDBA72;
}

.wrapper .icon:last-child {
    right: -75px;
    color: #CDBA72;
    
}

.carouselContainer {
    overflow: hidden; /* Esconde o excesso do carrossel */
    width: 100%; /* Para manter a largura do carrossel */
}

.carousel {
    display: flex; /* Use flexbox para alinhar os cards */
    transition: transform 0.5s ease; /* Transição suave */
    width: calc(50 * 3); /* Define a largura total baseada no número total de cards */
}

.carousel .card {
    flex: 0 0 calc((100% / 2) - 16px); /* Mostra 2 cards por padrão */
    height: 300px; /* Altura fixa */
    list-style: none;
    background-color: #fff;
    border-radius: 20px;
    border: 10px solid #CDBA72;
/*  display: flex; retirei para o circulo fica sempre em cima e naõ desnivelado*/

    padding-top: 20px;
    padding-bottom: 15px;
    align-items: center;
    
    flex-direction: column;
    margin-right: 17px; /* Espaçamento entre os cards */
}

.card {
    display: flex;
    align-items: center;
    justify-content: flex-start; /*SE EU COLOCAR CENTER, VAI ALINHAR
    AO CENTEO POREM VAI FICA UM CIRULO DISNIVELADO*/
    ;
}

.card .img  {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 80%;
    border: 8px solid #CDBA72;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.card span {
    font-size: 35px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    color: #094B59;
}

.tituloBarra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    margin-bottom: 100px;
}

.roundedRectangle1 {
    width: 95vh;
    height: 1vh;
    background-color: #CDBA72;
    border-radius: 20px;
    margin-top: 10px;
}

.roundedRectangle2 {
    width: 60vh;
    height: 1vh;
    background-color: #CDBA72;
    border-radius: 20px;
    margin-top: 150px;
}

.titulo {
    font-size: 50px;
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    color: #fff;
}


.subTitulo {
    font-size: 28px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    color: #094B59;
}



/* Ajustes para telas menores */
@media screen and (max-width: 900px) {
    .carousel .card {
        flex: 0 0 calc((100% / 2) - 16px); /* Mantém 2 cards em telas menores */
    }
}

@media screen and (max-width: 600px) {
    .carousel .card {
        flex: 0 0 calc((100% / 1) - 16px); /* Apenas 1 card em telas pequenas */
    }
}
