* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha horizontalmente ao centro */
  justify-content: center;
  box-shadow: inset 0px 20px 50px rgb(0, 0, 0); /* Sombra */
  
  background-color: #094B59;
}

.contexto {
  padding-top: 150px;
  
}


.banner {
  width: 100%;
  height: auto; /* Ajusta a altura proporcionalmente */
  max-height: 70vh; /* Limita a altura máxima da imagem */
  object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
  
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5); /* Sombra externa ajustada para baixo */
}

@media screen and (max-width: 414px) {
  .contexto {
    padding-top: 50px;
    
  }
}