.conteinercontent {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
    height: auto; /* Ou use '100vh' para a altura total da tela */
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #094B59;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Ajusta largura das mãos*/
    height: auto;
}