.conteiner {
    display: flex;
    height: auto;
    width: 100%;
    padding-top: 180px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contentParagrafo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.conteinercontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; /* Para permitir posicionamento absoluto */
    width: 100%; /* Para garantir que ocupa toda a largura */
}

.roundedRectangleEsq {
    width: 80vh; /* Ajuste com base na viewport width */
    height: 1vh;
    background-color: #CDBA72;
    border-radius: 20px;

    left: -25vh; /* Ajuste conforme necessário para o efeito */
}

.roundedRectangleDir {
    width: 80vh; /* Ajuste com base na viewport width */
    height: 1vh;
    background-color: #CDBA72;
    border-radius: 20px;

    right: -25vh; /* Ajuste conforme necessário para o efeito */
}

.textoContainer {
    padding: 0 30px; /* Adiciona espaço nas laterais do texto */
    text-align: center;
    z-index: 1; /* Garante que o texto fique acima das barras */
}

.subTitulo {
    font-size: 28px;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    margin: 5px 0; /* Adiciona espaço acima e abaixo do subtítulo */
    text-align: center;
    padding: 0px 20px;
}

@media screen and (max-width: 420px) {
    .textoContainer {
        padding: 0 10px; /* Adiciona espaço nas laterais do texto */
    }

    .roundedRectangleEsq {
        width: 80vh; /* Ajuste com base na viewport width */
        left: -25vh; /* Ajuste conforme necessário para o efeito */
        display: none;
    }

    .roundedRectangleDir {
        width: 80vh; /* Ajuste com base na viewport width */
        right: -25vh; /* Ajuste conforme necessário para o efeito */
        display: none;
    }

    .subTitulo {
        font-size: 20px;

    }
}












* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.conteiner {

    display: flex;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    text-align: center;
    background-color: #094B59;

}

.conteinerContet {
    display: flex;
    justify-content: center;
    align-items: center;



}


.tituloDados {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;

}

label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;

    font-size: 18px;
    font-family: 'Jost', sans-serif;
    font-weight: 450;
    color: #fff;


    padding-left: 25px;
    /* Adiciona espaço à esquerda do texto */
}

input {
    width: 23rem;
    height: 5rem;
    padding: 10px;
    border-radius: 80px;
    box-sizing: border-box;
    text-align: left;
    border: 5px solid #CDBA72;
    background-color: #fff;
    color: #094B59;
    
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    font-weight: 450;

    padding-left: 25px; /* Adiciona espaço à esquerda do texto */
}

.inputLogradouro {
    width: 40rem;
}

.inputStyle::placeholder {
    color: #094B59;
    font-size: 14px;
    padding-bottom: 1000px;
    margin-left: 25px;
}



.FormDados {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}



.FormEndereco {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.subTitulo {
    font-size: 28px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    color: #fff;
}

.button {
    font-size: 23px;
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    padding: 10px 60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #094B59;
    background-color: #fff;

    margin-top: 70px;
}


.roundedRectangle {
    width: 80vh;
    height: 1vh;
    background-color: #CDBA72;
    border-radius: 20px;

}

.retangulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}