.conteiner {
    height: 1000px;
    padding-top: 200px;
    background-color: #0D0D0D;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center;
    box-shadow: inset 0px 20px 50px rgb(0, 0, 0); /*Sombra*/
}

.textContent {
    margin-top: 230px;
    position: relative;
    display: inline-block;
    font-size: 7rem;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    border-right: 16px solid #1EBD2E;
    width: 0;
    animation: mark .5s step-end infinite, write 6s steps(22, end) infinite;
}

.lottieContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.lottie {
    width: 12rem;
    height: 12rem;
    cursor: pointer;
}

@keyframes mark {
   50%{
    border-right-color: transparent;
   } 
}

@keyframes write {
    20%{
     width: 23ch;
    } 
    70%{
        width: 23ch;
    } 
    85%{
        width: 0;
    } 
   100% {
        width: 0;
   }
}



@media screen and (max-width: 1700px) {
    .textContent {
        font-size: 6rem;
    }
}

@media screen and (max-width: 1500px) {
    .textContent {
        font-size: 5rem;
    }
}

@media screen and (max-width: 1200px) {
    .textContent {
        font-size: 4.5rem;
    }

    .lottie {
        width: 10rem;
        height: 10rem;
    }
}

@media screen and (max-width: 1080px) {
    .textContent {
        font-size: 3.5rem;
    }

    .lottie {
        width: 10rem;
        height: 10rem;
    }
}

@media screen and (max-width: 850px) {
    .textContent {
        font-size: 3rem;
        border-right: 8px solid #1EBD2E;
    }
}

@media screen and (max-width: 720px) {
    .textContent {
        font-size: 2.6rem;
        border-right: 8px solid #1EBD2E;
    }
}
@media screen and (max-width: 600px) {
    .textContent {
        font-size: 2rem;
        border-right: 8px solid #1EBD2E;
    }

    .lottie {
        width: 8rem;
        height: 8rem;
    }

    .lottieContainer {
        margin-top: 230px;
    }

}

@media screen and (max-width: 500px) {
    .textContent {
        font-size: 1.6rem;
        border-right: 8px solid #1EBD2E;
        margin-top: 130px;
    }

    .conteiner {
        height: 50rem;
        padding-top: 8rem;
    }

    .lottieContainer {
        margin-top: 80px;
    }
}