.conteiner {
    display: flex;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center;
    box-shadow: inset 0px 20px 50px rgb(0, 0, 0); /*Sombra*/
  }
  
  .conteinercontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.roundedRectangle {
    width: 105vh; /* Ajuste com base na viewport width */
    height: 1vh;
    background-color: #CDBA72;
    border-radius: 20px; /* Arredondamento dos cantos */
  }

.diagrama {
    width: 80%;
    height: auto;
}

.titulo {
    font-size: 50px;
    color: #094B59;
    font-family: 'Jost', sans-serif;
    font-weight: 800; /* Ajuste conforme necessário */
  }

  .subTitulo {
    font-size: 28px;
    color: #094B59;
    font-family: 'Jost', sans-serif;
    font-weight: 600; /* Ajuste conforme necessário */
  }
