.conteinercontent {
    background-color: #094B59;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    box-shadow: inset 0px 20px 50px rgba(0, 0, 0, 0.5); /* Sombra */
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Ajusta largura das mãos */
    height: auto;
    position: relative;
}

.conteinerEsq, .conteinerDir {
    position: relative;
    width: auto;
    height: 80vh; /* Ajusta altura das mãos junto com o top ou button lá embaixo */
}

.tituloBarra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    z-index: 1; /* Garante que o conteúdo principal esteja acima das imagens */
}

.roundedRectangle {
    width: 65vh;
    height: 1vh;
    background-color: #CDBA72;
    border-radius: 20px;

}

.maoEsq, .maoDir {
    position: absolute; /* Permite mover a imagem fora do contêiner principal */
    width: 50vw; /* Tamanho das imagens */
    height: auto;
    opacity: 0.3;
    z-index: 0; /* Garante que as imagens estejam atrás do conteúdo principal */
    transition: opacity 1s ease; /* Transição suave para opacidade */
}

.hidden {
    opacity: 0;
    transform: translateX(300px); /* Para a mão direita */
    transition: opacity 0.5s ease, transform 0.5s ease;
    
}

.visible {
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.maoEsq {
    left: -20vw; /* Ajuste para posicionar a imagem para fora do contêiner à esquerda */
    bottom: -80px; /* Coloca a mão esquerda abaixo do título */
    transform: translateX(-300px); /* Inicia fora da tela */
}

.maoDir {
    right: -20vw; /* Ajuste para posicionar a imagem para fora do contêiner à direita */
    top: -70px; /* Coloca a mão direita em cima do título */
    transform: translateX(300px); /* Inicia fora da tela */
}

.maoDir.visible {
    transform: translateX(0); /* Animação para entrar da direita */
    opacity: 0.3;
}

.maoEsq.visible {
    transform: translateX(0); /* Animação para entrar da esquerda */
    opacity: 0.3
}

.titulo {
    font-size: 50px;
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    color: #fff;
}

/* Media Queries */
@media screen and (max-width: 1600px) {
    .conteinerEsq, .conteinerDir {
        height: 75vh;
    }
    .roundedRectangle {
        width: 105vh;
    }
}

@media screen and (max-width: 1024px) {
    .conteinerEsq, .conteinerDir {
        height: 30vh; /* Ajuste na altura para telas menores */
    }
    .roundedRectangle {
        width: 43vh;
        margin-left: 0; /* Empurra a barra para a direita */
        padding-right: 0; /* Espaço extra à esquerda */
    }

    .conteinerEsq {
        margin-top: -30px;
    }
    .conteinerDir {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 820px) {
    .conteinerEsq, .conteinerDir {
        height: 30vh; /* Ajuste na altura para telas menores */
    }
    .roundedRectangle {
        width: 48vh;
    }
    .conteinerEsq {
        margin-top: -30px;
    }
    .conteinerDir {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 768px) {
    .conteinerEsq, .conteinerDir {
        height: 30vh; /* Ajuste na altura para telas menores */
    }
    .roundedRectangle {
        width: 55vh;
    }
}

@media screen and (max-width: 414px) {
    .conteinerEsq, .conteinerDir {
        height: 25vh;
    }
    .conteinerEsq {
        margin-top: 50px;
    }
    .conteinerDir {
        margin-bottom: 30px;
    }
    .maoEsq {
        bottom: 5px; /* Coloca a mão esquerda abaixo do título */
        transform: translateX(-850px);
    }
    .maoDir {
        top: 5px; /* Coloca a mão esquerda abaixo do título */
        transform: translateX(850px);
    }
    .roundedRectangle {
        width: 33vh;
    }
    .conteinercontent {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .titulo {
        font-size: 25px;
    }
    .hidden {
        transition: opacity 0.5s ease, transform 0.8s ease;  
    }
    
    .visible {
        transition: opacity 0.5s ease, transform 0.8s ease;
    }
}
