* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 10; /* Garantir que a navbar esteja acima de outros conteúdos */
    background-color: rgba(9, 75, 89, 1); /* Cor sólida no início */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: background-color 0.3s ease-in; /* Transição suave para a cor de fundo */
}

/* Quando a página é rolada, a navbar usa uma cor transparente */
.navbar.scrolled {
    background-color: rgba(9, 75, 89, 0.8); /* Cor transparente */
}

.contentLogo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 7rem;
    margin-left: 10rem;
    cursor: pointer;
}

.logo {
    width: 120px;
    height: auto;
}

.navItem {
    color: #ffffff;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    padding: 5px 8px;
    border-radius: 30px;
    position: relative;
}

.navbar, .navItem, .contentLogo {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

.navItem:hover {
    background-color: #CDBA72;
    color: #fff;
    transform: scale(1.05);
}

.link {
    color: #fff;
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    z-index: 10;
    background-color: rgba(0,0,0,.9);
    border-radius: 5px;
    padding: 10px;
    margin-right: 7rem;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.navMenu {
    display: flex;
    gap: 40px;
    color: #ffffff;
    margin-right: 7rem;
}

.navMenu.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 90px;
    left: 0;
    background-color: rgba(0,0,0,.9);
    width: 100%;
    height: 90vh;
    padding: 20px;
    transition: .3s;
}

@media screen and (max-width: 800px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        width: 100%;
    }

    .nome {
        margin-right: auto;
    }

    .navMenu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: fixed;
        top: 90px;
        left: -100%;
        background-color: rgba(0,0,0,.9);
        height: 90vh;
        transition: .3s;
        padding: 20px;
    }

    .navMenu.active {
        display: flex;
        left: 0;
        padding-top: 80px;
    }

    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 430px) {
    .navbar {
        padding: 0 10px;
    }

    .hamburger {
        display: block;
        margin-right: 3rem;
    }

    .nome {
        margin-right: auto;
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    .navMenu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: fixed;
        top: 90px;
        left: -100%;
        background-color: rgba(0,0,0,.9);
        height: 90vh;
        transition: .3s;
    }

    .navMenu.active {
        display: flex;
        left: 0;
        padding-top: 80px;
    }
}
