* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    z-index: 10;
    background-color: rgba(9, 75, 89, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: background-color 0.3s ease-in;
}

.navbar.scrolled {
    background-color: rgba(9, 75, 89, 0.8);
}

.contentLogo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 7rem;
    margin-left: 10rem;
    cursor: pointer;
}

.logo {
    width: 120px;
    height: auto;
}

.navItem {
    position: relative;
    padding: 5px 8px;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.navbar,
.navItem,
.contentLogo {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

.link:hover {
    color: #CDBA72; /* Cor para o link ativo */
}

.link {
    color: #fff; /* Cor padrão para links */
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 20px;
}

.activeLink {
    color: #CDBA72; /* Cor para o link ativo */
    
    text-decoration: none;
    font-size: 20px;
}

.activeLink:hover {
    color: #fff; /* Mantém a cor branca ao passar o mouse sobre o link ativo */
}

.hamburger {
    display: none;
    cursor: pointer;
    z-index: 10;
    background-color: rgba(0, 0, 0, .9);
    border-radius: 5px;
    padding: 10px;
    margin-right: 3rem;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.navMenu {
    display: flex;
    gap: 40px;
    color: #ffffff;
    margin-right: 7rem;
}

.navMenu.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 90px;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 90vh;
    padding: 20px;
    transition: .3s;
}

@media screen and (max-width: 800px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        width: 100%;
    }

    .navMenu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: fixed;
        top: 90px;
        left: -100%;
        background-color: rgba(0, 0, 0, .9);
        height: 90vh;
        transition: .3s;
        padding: 20px;
    }

    .navMenu.active {
        display: flex;
        left: 0;
        padding-top: 80px;
    }

    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 414px) {
    .navbar {
        padding: 0 10px;
    }

    .hamburger {
        display: block;
        margin-right: 50rem;
        background-color:  #CDBA72;
    }
    .navMenu.active {
        background-color: #094B59;
        height: 50vh;
        padding: 50px;
        gap: 35px;
    }
    .link {
        font-size: 20px;
    }
    .activeLink {
        font-size: 20px;
    }
    .contentLogo {
  
        margin-right: 7rem;
        margin-left: 3rem;
   
    }
    
    .logo {
        width: 100px;
        height: auto;
    }
}
