.conteinercontent {
    background-color: #094B59;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto; /* Ou use '100vh' para a altura total da tela */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    box-shadow: inset 0px 20px 50px rgb(0, 0, 0, 0.5); /* Sombra */
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Ajusta largura das mãos*/
    height: auto;
    position: relative;
}

.conteinerEsq, .conteinerDir {
    position: relative;
    width: auto;
    height: 80vh; /* Ajusta altura das mãos junto com o top ou button la em baixo  */
}

.tituloBarra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    z-index: 1; /* Garante que o conteúdo principal esteja acima das imagens */
}

.roundedRectangle {
    width: 50vh;
    height: 1vh;
    background-color: #CDBA72;
    border-radius: 20px;
    margin-left: auto; /* Empurra a barra para a direita */
    
}

.maoEsq, .maoDir {
    position: absolute; /* Permite mover a imagem fora do contêiner principal */
    width: 50vw; /* tamanho das imagens */
    height: auto;
    opacity: 0.3;
    z-index: 0; /* Garante que as imagens estejam atrás do conteúdo principal */
}

.maoEsq {
    left: -20vw; /* Ajuste para posicionar a imagem para fora do contêiner à esquerda */
    bottom: -30px;
}

.maoDir {
    right: -20vw; /* Ajuste para posicionar a imagem para fora do contêiner à direita */
    top: 0px;
}


.titulo {
    font-size: 50px;
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    color: #fff;
}


@media screen and (max-width: 1600px) {
    .conteinerEsq, .conteinerDir {
        height: 75vh;
    }

    .maoEsq, .maoDir {
        width: 50vw;
    }
    .roundedRectangle {
        width: 105vh;
    }
}


@media screen and (max-width: 1024px) {
    .conteinerEsq, .conteinerDir {
        height: 40vh;
    }
    .conteinerEsq {
        margin-top: 30px;
    }

    .maoEsq, .maoDir {
        width: 60vw;
    }
    .roundedRectangle {
        width: 50vh;
        margin-left: 0; /* Empurra a barra para a direita */
        padding-right: 0; /* Espaço extra à esquerda */
    }
}

@media screen and (max-width: 820px) {
    .conteinerEsq, .conteinerDir {
        height: 40vh;
    }
    .roundedRectangle {
        width: 35vh;
        margin-left: 0; /* Empurra a barra para a direita */
        padding-right: 0; /* Espaço extra à esquerda */
    }
}

@media screen and (max-width: 768px) {
    .conteinerEsq, .conteinerDir {
        height: 40vh;
    }
    .roundedRectangle {
        width: 40vh;
        margin-left: 0; /* Empurra a barra para a direita */
        padding-right: 0; /* Espaço extra à esquerda */
    }
}

@media screen and (max-width: 414px) {
    .conteinerEsq, .conteinerDir {
        height: 25vh;
    }
    .conteinerEsq {
        margin-top: -10px;
    }
    .conteinerDir {
        margin-bottom: 30px;
    }

    .maoEsq, .maoDir {
        width: 60vw;
    }
    .roundedRectangle {
        width: 30vh;
    }
    .conteinercontent {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .titulo {
        font-size: 30px;
    }
    
}