* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #094B59;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.title {
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 35px;
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    margin: 32px 0 16px 30px;
}

.subTitulo {
    text-align: left;
    font-size: 19px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    padding-bottom: 8px;
    color: #B7AD6F;
}

.paragrafo {
    text-align: left;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    font-weight: 450;
}

.timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    width: 800px;
}

.timelineRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animateIn {
    opacity: 1; /* Fica visível quando animado */
}

.timeline .timelineRow {
    display: flex;
    column-gap: 64px;
    flex-wrap: wrap;
}

.timelineRow .timelineColumn {
    flex: 1 1 320px;
}

.timelineColumn .timelineBox {
    position: relative;
    border-left: 2px solid #B7AD6F;
}

.timelineBox .timelineContent {
    position: relative;
    padding-left: 27px;
}

.timelineBox .timelineContent::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10.5px;
    width: 20px;
    height: 20px;
    background-color: #B7AD6F;
    border-radius: 50%;
}

.timelineContent .content {
    padding: 24px;
    border: 2px solid #B7AD6F;
    border-radius: 8px;
    margin-bottom: 32px;
}

.timelineContent .content .year {
    font-size: 16px;
    color: #B7AD6F;
}

.timelineColumn {
    text-align: left;
}

@media screen and (max-width: 820px) {
    .timeline {
        width: 700px;
    }
 }

@media screen and (max-width: 414px) {
    .timeline {
        width: 350px;
    }
    .title {
        font-size: 25px;
    }

    .body {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 414px) {
    .timeline {
        width: 330px;
    }
    .title {
        font-size: 25px;
    }

    .body {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}