.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-slide {
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção da imagem */
}

.carousel-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 15px; /* Ajustado para ser mais responsivo */
  border-radius: 8px; /* Ajustado para ser mais responsivo */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  font-size: 1rem; /* Tamanho relativo para o texto */
  width: 80%; /* Largura relativa */
  max-width: 300px; /* Garante um limite máximo */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

.carousel-text h2 {
  margin: 0;
  font-size: 1.5rem; /* Tamanho relativo para o título */
}

.carousel-text button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1rem; /* Tamanho relativo para o botão */
}

/* Media queries para ajustar o estilo em tamanhos de tela menores */
@media (max-width: 768px) {
  .carousel-text {
    padding: 8px 12px;
    font-size: 0.9rem;
    width: 90%;
    max-width: 250px;
  }

  .carousel-text h2 {
    font-size: 1.25rem;
  }

  .carousel-text button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .carousel-text {
    padding: 6px 10px;
    font-size: 0.8rem;
    width: 95%;
    max-width: 200px;
  }

  .carousel-text h2 {
    font-size: 1rem;
  }

  .carousel-text button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}
