* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 800px;
  overflow-x: hidden; /* Evitar rolagem horizontal extra */
}

.body {
  width: 100%;
  height: 800px;
  overflow: hidden; /* Garantir que não haja overflow na lateral */
}

.box {
  position: relative;
  width: 100%; /* Ajuste para ocupar toda a largura disponível */
  height: 600px; /* Definir uma altura fixa para o contêiner */
  overflow: hidden; /* Garantir que a imagem não vaze do contêiner */
}

.left {
  position: absolute; /* Posicionar em relação ao contêiner pai */
  z-index: 2; /* Fica acima da imagem */
  padding: 20px; /* Ajuste o padding conforme necessário */
  top: 50%;
  left: 20px; /* Ajuste a distância da esquerda */
  transform: translateY(-50%); /* Centraliza verticalmente o conteúdo */
  
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente o conteúdo */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  color: #fff;
}

.left h1 {
  margin: 0; /* Remove margens adicionais */
  letter-spacing: -0.5px; /* Ajuste o espaço entre letras */
  font-size: 80px;
}

.left p {
  margin: 10px 0; /* Ajuste as margens superior e inferior do parágrafo */
  letter-spacing: -0.5px; /* Ajuste o espaço entre letras */
  word-spacing: -2px; /* Ajuste o espaço entre palavras */
  line-height: 1.4; /* Ajuste a altura da linha */
  text-align: left;
  font-size: 30px;
}

.right {
  position: absolute; /* Garantir que o contêiner da imagem seja posicionado corretamente */
  top: 0;
  left: 0;
  width: 100%; /* Garantir que o contêiner ocupe toda a largura */
  height: 100%; /* Garantir que a imagem ocupe toda a altura */
}

.right img {
  width: 100%; /* A imagem ocupará toda a largura do contêiner */
  height: 100%; /* Ajustar a altura para manter a proporção */
  object-fit: cover; /* Ajustar a imagem para cobrir o espaço do contêiner */
  display: block; /* Remover espaço em branco abaixo da imagem */
}

button {
  margin-left: 20px; /* Ajuste conforme necessário */
}

