.conteinercontent {
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
    width: 100%;
    height: auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 400px;
}

.roundedRectangle {
    width: 90vh;
    height: 1vh;
    background-color: #CDBA72;
    border-radius: 20px;
    margin: 5px 0px 30px 0px;
}

.titulo {
    font-size: 50px;
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    color: #094B59;
}

.paragrafo {
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    font-weight: 450;
    color: #094B59;
    margin-bottom: 30px;
}

@media screen and (max-width: 1400px) {
    .content {
        padding: 0 250px;
    }
}



@media screen and (max-width: 1024px) {
  

    .roundedRectangle {
        width: 45vh;
        height: 1vh;
        background-color: #CDBA72;
        border-radius: 20px;
        margin: 5px 0px 30px 0px;
    }

    .paragrafo {
        padding: 0 50px;
    }
  
    .content {
        padding: 0 10px;
    }  
    
    .titulo {
        font-size: 35px;
        padding: 0 50px;
    }
}

@media screen and (max-width: 768px) {
  

    .roundedRectangle {
        width: 53vh;
        height: 1vh;
        background-color: #CDBA72;
        border-radius: 20px;
        margin: 5px 0px 30px 0px;
    }

    .paragrafo {
        padding: 0 50px;
    }
  
    .content {
        padding: 0 10px;
    }  
    
    .titulo {
        font-size: 35px;
        padding: 0 50px;
    }
}

@media screen and (max-width: 414px) {
  

    .roundedRectangle {
        width: 35vh;
        height: 1vh;
        background-color: #CDBA72;
        border-radius: 20px;
        margin: 5px 0px 30px 0px;
    }

    .paragrafo {
        padding: 0 10px;
    }
  
    .content {
        padding: 0 10px;
    }  
    
    .titulo {
        font-size: 35px;
        padding: 0 50px;
    }

    .conteinercontent {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

