  .conteinercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Centraliza o conteúdo */
    text-align: center;
    
    /* Centraliza o texto */
    padding: 0 300px;
    /* Margem nas laterais */

  }

  .content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Centraliza o texto */
  }


  .titulo {
    font-size: 50px;
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    color: #fff;
  }

  .roundedRectangle {
    width: 38vh;
    /* Ajuste com base na viewport width */
    height: 1vh;
    background-color: #CDBA72;
    border-radius: 20px;
    /* Arredondamento dos cantos */
    margin: 5px 0px 30px 0px;
    /* Espaço acima e abaixo do retângulo */
  }

  .content2LogoTxt {
    display: flex;
    flex-direction: row;
    /* Alinha o logo e o texto verticalmente */
    align-items: center;
    justify-content: center;
    /* Centraliza os itens */
    gap: 20px;
    /* Espaço entre o logo e o parágrafo */
    margin-top: 20px;
    padding: 0 20px;
    /* Margem nas laterais */
    
    /* Ajusta para a largura total do contêiner */
  }

  .logo {
    width: 35vh;
    height: auto;
    margin-bottom: 10px;
    /* Espaço abaixo da imagem do logo */
  }


  .paragrafo1 {
    font-size: 23px;
    text-align: left;
    font-family: 'Jost', sans-serif;
    font-weight: 450;
    color: #fff;
  }

  .logoTablesSmart {
    display: none;
  }



  @media screen and (max-width: 1650px) {
    .conteinercontent {
      padding: 0 200px; /* Margem nas laterais */
    }
  
  }

  @media screen and (max-width: 1600px) {
    .conteinercontent {
      padding: 0 200px; /* Margem nas laterais */
    }
  
  }

  @media screen and (max-width: 1450px) {
    .conteinercontent {
      padding: 0 250px; /* Margem nas laterais */
    }
  
  }

  @media screen and (max-width: 1280px) {
    .conteinercontent {
      padding: 0 100px; /* Margem nas laterais */
    }
  
  }

  @media screen and (max-width: 1024px) {
    .conteinercontent {
      padding: 0 400px; /* Margem nas laterais */
    }

    .paragrafo1 {
      font-size: 20px;
        padding: 0 20px;
    }

    .logo {
      display: none;
    }
    .conteinercontent {
      padding: 0 10px;
    }

    .logoTablesSmart {
      width: 30vh;
      height: auto;
      margin-bottom: 10px;
      display: block;
      
      /* Espaço abaixo da imagem do logo */
    }

    .content1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 25px;
    }

    .tituloRetangulo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .roundedRectangle {
      width: 25vh;
    }
  
  
  }

  @media screen and (max-width: 820px) {
    .paragrafo1 {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .paragrafo1 {
      font-size: 20px;
    }

    .titulo {
      font-size: 35px;
    }

    .logoTablesSmart {
      width: 25vh;
      height: auto;
      margin-bottom: 10px;
      display: block;
      
      /* Espaço abaixo da imagem do logo */
    }
  }

  @media screen and (max-width: 414px) {
    .paragrafo1 {
      font-size: 18px;
      text-align: center;
    }

    .titulo {
      font-size: 30px;
    }

    .logoTablesSmart {
      width: 20vh;
      height: auto;
      margin-bottom: 10px;
      display: none;

    }

    .content1 {
      flex-direction: column;
    }

    .conteinercontent {
      padding: 0 10px;
    }

    .roundedRectangle {
      width: 21vh;
    }
  }

  @media screen and (max-width: 375px) {
    .paragrafo1 {
      font-size: 18px;
      text-align: center;
    }

    .titulo {
      font-size: 30px;
    }

    .logoTablesSmart {
      width: 20vh;
      height: auto;
      margin-bottom: 10px;
      display: none;

    }

    .content1 {
      flex-direction: column;
    }

    .conteinercontent {
      padding: 0 10px;
    }

    .roundedRectangle {
      width: 28vh;
    }
  }